#my-name {
  font-family: 'Dancing Script', cursive;
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
  font-size: 28px;
}

#last-name {
  position: relative;
  left: 20px;
}

.modal-child.about {
  width: 1072px;
  overflow: hidden;
  position: fixed;
}

.about-me-modal {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Open Sans';
}

.me-at-disneyland {
  width: 25vw;
  height: fit-content;
  margin: 17px;
  border-radius: 7px;
  filter: brightness(1.35);
}

.about-me-text {
  display: flex;
  flex-direction: column;
  margin: 9px;
  text-align: center;
  font-weight: 100;

  h1 {
    font-size: 27px;
    margin: 10px;
  }

  h2 {
    font-size: 14px;
    margin: 7px;
    line-height: 1.38;
  }

  li {
    list-style: none;
    margin: 7px;
    line-height: 1.2;
    font-size: 16px;
  }
}

.about-logo {
  width: 17px;
  position: relative;
  margin-right: 6px;
  top: 1px;
}

.about-logo.aws {
  width: 26px;
}

.about-me-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 10px;
  
  li {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
  }

  img {
    opacity: 0.5;
    height: 46px;
    width: auto;
    transition: all 0.4s ease 0s;
    cursor: pointer;
  }

  li > img:hover {
    opacity: 1;
  }
}

#created-with {
  font-size: 21px;
}

#thank-you {
  filter: invert(1);
  height: 87px;
  bottom: 20px;
  position: fixed;
  right: 570px;
}

.close-modal-about {
  color: #0a0a0a;
  position: fixed;
  font-size: 2.6vw;
  top: 0.5%;
  right: 0.5%;
  z-index: 5;
  cursor: pointer;
}

.close-fill-about {
  color: white;
  position: fixed;
  top: 1.2%;
  right: 0.7%;
  font-size: 2vw;
  z-index: 3;
}

#about-link-to-site {
  padding: 12px;
}

.about-img {
  cursor: pointer;
}

@media (max-width: 920px) {
  .modal-child.about {
    width: 95vw;
    overflow-y: scroll;
  }

  .about-me-modal {
    flex-direction: column-reverse;
  }


  .about-me-text {
    h2 {
      font-size: 16px;
    }

    li {
      font-size: 17px;
    }
  }

  .me-at-disneyland {
    width: 86vw;
    margin: 0 auto;
  }

  #my-name {
    position: relative;
    bottom: 1vw;
    left: 70vw;
    font-size: 28px;
  }

  #thank-you {
    display: none;
  }

  .about-me-links img {
    height: 60px;
  }

  .close-modal-about {
    font-size: 5vw;
  }

  .close-fill-about {
    right: 0.8%;
    font-size: 4.1vw;
  }
}