.featured {
  // height: 103vh;
  position: static;
  bottom: 8vw;
  background-image: url("https://i.imgur.com/roimLHs.jpg");  
  box-shadow: inset 0px -6vw 2vw -2vw #181b29;
  background-size: cover;

  img {
    width:100%;
    // height: 100%;
    object-fit: cover;
    bottom: 190px;
    position: relative;
  }

  .featured-info {
    width: 100%;
    position: absolute;
    bottom: 23%;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      // top: 0.1vw;
      width: 34vw;
      left: 64px;
      position: relative;
    }

    .blurb {
      top:10px;
      margin: 20px 0px;
      font-size: 16px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.featured-logo {
  top: 5px;
  margin-bottom: 25px;
}

// .featured .featured-background:before {
//   content: '';
//   background-image: linear-gradient(to top, rgba(239,239,239,255), rgba(239,239,239,0));
//   position: absolute;
//   height: 100px;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }
// .featured .featured-background:after {
//   content: '';
//   display: block;
//   height: 9999px;
// }
// .featured-background img {
//   width: auto;
//   height: auto;
//   max-width: 100%;
//   vertical-align: middle;
//   border: 0;
//   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
//   -ms-interpolation-mode: bicubic;
// }

.brand-container-video.featured {
  position: absolute;
  width: 100%;
  top: 0;
  transition-delay: 1s;
  transition-property: display;
  animation: fadeIn ease 1s;
}

.featured-video-shadow {
    height: 106vh;
    top: 14vh;
    box-shadow: inset 0px -7vw 2vw -2vw #181b29;
    position: relative;
    display: block;
}

.featured-movie-container {
  position: relative;
  top: 0vh;
  height: 103vh;
}

.featured-volume {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
  font-size: 21px;
  cursor: pointer;
  border: solid 2.2px white;
  border-radius: 50%;
  padding-top: 0.6vw;
  padding-left: 0.5vw;
  padding-right: 0.65vw;
  padding-bottom: 0.45vw;
  left: 54px;
}

.featured-volume:hover {
  border: 2.2px solid white;
  background: rgba(95, 95, 95, 0.1);
}

.featured-buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.featured-left, .featured-right {
  display: flex;
  flex-direction: row;
}

.featured-play-button {
  position: relative;
  top: 4%;
  display: flex;
  flex-direction: row;
  padding: 0% 8% 0% 4%;
  background: white;
  color: black;
  font-family: 'Lato';
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 4px;
  /* height: 70%; */
  width: 90px;
  /* line-height: 3px; */

  span {
    color: black;
    font-size: 2.9vw;
    position: relative;
    left: 2px;
    top: 2px;
  }

  h2 {
    position: relative;
    top: 11px;
    left: 5%;
    font-weight: 700;
  }
}

.featured-play-button:hover {
  cursor: pointer;
  filter: brightness(0.92);
}

.featured-info-button {
    background: rgb(107, 107, 107);
    width: 158px;
    position: relative;
    top: 2.2px;
    left: 11px;
    border-radius: 4px;
    padding: 6px 1px 6px 16px;
    display: flex;
    flex-direction: row;

  span {
    font-size: 29px;
  }

  h2 {
    position: relative;
    font-family: 'Open Sans';
    font-size: 15.5px;
    font-weight: 600;
    top: 7px;
    left: 9px;
  }
}

.featured-info-button:hover {
  cursor: pointer;
  background:rgba(107, 107, 107, 0.541);
}

.featured-right p {
  color: white;
  font-family: 'Open Sans';
  position: relative;
  /* top: 11px; */
  font-size: 95%;
  /* left: 22px; */
  right: -72px;
  background: rgba(0, 0, 0, 0.222);
  /* line-height: 3; */
  /* margin-bottom: 26px; */
  padding: 13.8px 26px 0px 14px;
  /* padding-right: 12px; */
  width: 11vh;
  border-left: white solid;
}