.home-container {
  padding-top: 100px;
  background-color: black;
}

// .home-main {
// }

.signout-button {
  margin-top: 0px;
  font-size: 100px;
  font-weight: 500px;
  color: white;
  background-color: pink;
  display: block;
  position: absolute;
  padding: 50px;
  width: 100%;
}