.home-container {
  // padding-top: 100px;
  background: url('https://i.imgur.com/MmqVKyy.png') fixed;
  height: 100%;
  margin-bottom: -60px;
  // position: fixed;
  // width: 100%;
}

.home-main {
  box-shadow: inset -12px 6vw 4vw 1vw #181b29;
  position: relative;
  bottom: 15px;
}

// .sign-out-container {
//   margin-top: 900px;
// }

.signout-button {
  font-size: 100px;
  font-weight: 500px;
  color: white;
  background-color: black;
  display: block;
  position: absolute;
  padding: 50px;
  width: 100%;
  background: black;
  z-index: -1;
}