.home-container {
  padding-top: 100px;
  background: url('https://disneycinema.s3.us-east-2.amazonaws.com/Dashboard+Background.png') fixed;
  height: 100%;
  // position: fixed;
  // width: 100%;
}

// .home-main {
// }

// .sign-out-container {
//   margin-top: 900px;
// }

.signout-button {
  font-size: 100px;
  font-weight: 500px;
  color: white;
  background-color: black;
  display: block;
  position: absolute;
  padding: 50px;
  width: 100%;
  background: black;
}