.thumbnail-container{
  width: 18.3vw;
  height: auto;
  border-radius: 4px;
  margin: 2px;
  transition: transform 1s;
}

.thumbnail{
  padding: 5px;
  height: auto;
  width: 18vw;
  // height: 8.4375vw;
  border-radius: 9px;
  margin-left: 23px;
  margin-right: 10px;
  transition: all .4s;
}

.thumbnail:hover {
  transform: scale(1.08);
  // outline: 3.5px solid rgb(255, 255, 255);
  // outline-offset: -3.5px;
  // border-radius: 50%;
  cursor: pointer;
}

.movie-index {
  // padding-top: 80px;
  padding-left: 2.1vw;
  // padding-right: 4.1vw;
  // height: 2100px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.movie-row {
  display: flex;
  width: 100%;
  // justify-content: space-between; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.row-header {
  font-family: 'Open Sans';
  font-weight: 700;
  margin-left: 2.22vw;
  font-size: 1.4vw;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-top: 6px;
}