.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 40vh;
  left: 50vw;
  width: 60%;
  transform: translate(-50%, -50%);
  background: #1d1c27;
}

.movie-modal {
  color: white;
  font-family: 'Open Sans';
}

.modal-movie {
  background-size: cover;
  display: inline-block;
  width: 100%;
}

.modal-description {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.35vw;
  line-height: 2vw;
}

.movie-modal-buttons {
  display: flex;
  flex-direction: row;
}

.movie-modal-buttons {
  display: flex;
  flex-direction: row;
}

.movie-modal-bottom {
  display: flex;
  flex-direction: row;
}

.movie-modal-right {
  list-style: none;
}

.movie-modal-info {
  display: flex;
  flex-direction: row;

  h1 {
    color: green;
  }
}