.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 52%;
  left: 50vw;
  height: 98%;
  min-width: 850px;
  transform: translate(-50%, -50%);
  background: #1d1c27;
  border-radius: 7px;
  overflow: auto;
}

.movie-modal {
  color: white;
  font-family: 'Open Sans';
}

.modal-movie {
  background-size: cover;
  display: inline-block;
  width: 100%;
  border-radius: 7px;
}

.modal-movie-player {
  height: auto;
}

.modal-movie-shadow {
  position: absolute;
  width: 100%;
  height: 481.13px;
  box-shadow: inset 0px -80px 44px -18px #1d1c27;
  top: 0;
  left: 0;
}

.movie-modal-details {
  padding: 0% 4% 3% 5.5%;
  position: relative;
  top: -8px;
  margin-bottom: 3vw;
}

.modal-description {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.23vw;
  line-height: 1.9vw;
  position: relative;
  top: 15%;
  font-weight: 500;
}

.movie-modal-buttons {
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  bottom: 14vh;

  .movie-modal-buttons-left {
    display: inline-flex;
  }
}

.movie-modal-play {
  display: flex;
  flex-direction: row;
  padding: 1% 15% 0% 5%;
  background: white;
  color: black;
  font-family: 'Lato';
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 4px;
  height: 91%;
  /* line-height: 3px; */


  span {
    color: black;
    font-size: 2.9vw;
  }

  h2 {
    position: relative;
    top: 26.2%;
    left: 5%;
  }
}

.movie-modal-buttons {
  display: flex;
  flex-direction: row;
}

.movie-modal-bottom {
  display: flex;
  flex-direction: row;
}

.movie-modal-left {
  padding-right: 62px;
  width: 233%;
}

.movie-modal-right {
  color: #5a5a5a;
  display: grid;
  width: 133%;
  /* row-gap: 0px; */
  font-size: 1vw;
  line-height: 20px;
  height: 10.7vw;


  span {
    color: white;
  }
}

.movie-modal-info {
  display: flex;
  flex-direction: row;

  h1 {
    color: #31d362;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-right: 2%;
  }

  h2 {
    font-size: 1.18vw;
    font-weight: 500;
    font-family: 'Open Sans';
    /* border-color: rgba(255, 255, 255, 0.404); */
    /* border-style: solid; */
    /* border-width: thin; */
    outline: rgba(255, 255, 255, 0.3);
    outline-width: thin;
    outline-style: solid;
    outline-offset: -1px;
    padding-left: 6.5px;
    padding-right: 7.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    // left: 6%;
    bottom: 3px;
    position: relative;
    margin-right: 2%;
  }

  h3 {
    margin-right: 2%;
  }
}



.add-button.modal {
  top: 6%;
  left: 4%;
  border: 2.2px solid grey;
  width: 5.4vw;
  position: relative;
  height: 2.5vw;
  background: rgba(0, 0, 0, 0.45);


  p {
    color: white; 
    font-size: 1.9vw;
  }
}

.like-buttons.modal {
  position: relative;
}