.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-background.brand {
  background: none;
}

.modal-child {
  position: absolute;
  top: 52%;
  left: 50vw;
  height: 98%;
  min-width: 62.2vw;
  transform: translate(-50%, -50%);
  background: #1d1c27;
  border-radius: 7px;
  overflow: auto;
}

.movie-modal {
  color: white;
  font-family: 'Open Sans';
  transition: all 0.4s ease 0s;
}

.modal-movie {
  background-size: cover;
  display: inline-block;
  width: 100%;
  border-radius: 7px;
}

.modal-movie-player {
  height: auto;
}

.modal-movie-shadow {
  position: absolute;
  width: 100%;
  height: 481.13px;
  box-shadow: inset 0px -80px 44px -18px #1d1c27;
  top: 0;
  left: 0;
}

.movie-modal-details {
  padding: 0% 4% 3% 5.5%;
  position: relative;
  top: -8px;
  margin-bottom: 3vw;
}

#modal-title {
  position: fixed;
  font-size: 2.5vw;
  bottom: 277px;
  color: rgb(255, 252, 238);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.719);
}

.modal-description {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.23vw;
  line-height: 1.9vw;
  position: relative;
  top: 15%;
  font-weight: 100;
}

.movie-modal-buttons {
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  bottom: 14vh;

  .movie-modal-buttons-left {
    display: inline-flex;
  }
}

.movie-modal-play {
  position: relative;
  top: 4%;
  display: flex;
  flex-direction: row;
  padding: 1% 15% 0% 5%;
  background: white;
  color: black;
  font-family: 'Lato';
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 4px;
  height: 91%;
  /* line-height: 3px; */


  span {
    color: black;
    font-size: 2.9vw;
  }

  h2 {
    position: relative;
    top: 26.2%;
    left: 5%;
  }
}

.movie-modal-play:hover {
  cursor: pointer;
  filter: brightness(0.92);
}

.movie-modal-buttons {
  display: flex;
  flex-direction: row;
}

.movie-modal-bottom {
  display: flex;
  flex-direction: row;
}

.movie-modal-left {
  padding-right: 62px;
  width: 233%;
}

.movie-modal-right {
  color: #5a5a5a;
  display: grid;
  width: 133%;
  /* row-gap: 0px; */
  font-size: 1vw;
  line-height: 20px;
  height: 10.7vw;


  span {
    color: white;
  } 
  
  p {
    font-style: italic;
  }
  
  p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.movie-modal-info {
  display: flex;
  flex-direction: row;

  h1 {
    color: #31d362;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-right: 2%;
  }

  h2 {
    font-size: 1.18vw;
    font-weight: 500;
    font-family: 'Open Sans';
    /* border-color: rgba(255, 255, 255, 0.404); */
    /* border-style: solid; */
    /* border-width: thin; */
    outline: rgba(255, 255, 255, 0.3);
    outline-width: thin;
    outline-style: solid;
    outline-offset: -1px;
    padding-left: 6.5px;
    padding-right: 7.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    // left: 6%;
    bottom: 3px;
    position: relative;
    margin-right: 2%;
  }

  h3 {
    margin-right: 2%;
  }
}



.add-button.modal {
  top: 6%;
  left: 4%;
  border: 2.2px solid rgb(148, 148, 148);
  width: 5.6vw;
  position: relative;
  height: 2.5vw;
  background: rgba(0, 0, 0, 0.45);


  p {
    color: white; 
    font-size: 1.9vw;
  }
}

.add-button.modal:hover {
  background: rgba(95, 95, 95, 0.31);
}

.like-buttons.modal {
  position: relative;
  left: 10%;
  
  .like-button.up {
    border: 2.2px solid rgb(148, 148, 148);
    padding-left: 0.5vw;
    padding-top: 0.6vw;
    height: 87.8%;
    width: 89%;
    position: relative;
    left: -6%;
    top: -8.3%;
    font-size: 1.5vw;
    background: rgba(0, 0, 0, 0.45);
  }

  .like-button.down {
    border: 2.2px solid rgb(148, 148, 148);
    padding-left: 0.45vw;
    padding-top: 0.55vw;
    height: 90%;
    width: 93%;
    position: relative;
    left: 23.5%;
    top: -10%;
    font-size: 1.55vw;
    background: rgba(0, 0, 0, 0.45);
  }

  .like-button.up:hover, .like-button.down:hover {
    border: 2.2px solid white;
    background: rgba(95, 95, 95, 0.31);
  }
}

.modal-volume-on {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  top: 4%;
  right: 25%;
  font-size: 1.4vw;
  border: 2.2px solid grey;
  border-radius: 50%;
  padding-top: 0.5vw;
  padding-left: 0.45vw;
  padding-right: 0.5vw;
  padding-bottom: 0.45vw;
}

.modal-volume-on:hover {
  border: 2.2px solid white;
  background: rgba(95, 95, 95, 0.31);
}

.close-modal {
  /* background: white; */
  color: rgb(10, 10, 10);
  position: fixed;
  font-size: 2.6vw;
  top: 2.5%;
  right: 2%;
  z-index: 5;
  cursor: pointer;
  /* border-radius: 21%; */
}

#close-fill {
  color: white;
  position: fixed;
  top: 3.2%;
  right: 2.4%;
  font-size: 2vw;
  z-index: 3;
}

@media (max-width: 920px) {
  .modal-child {
    min-width: 90vw;
  }
}