.thumbnail-container {
  width: 18.3vw;
  height: auto;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  transition: transform 0.7s;
}

.thumbnail {
  // padding: 5px;
  height: auto;
  width: 18.3vw;
  cursor: pointer;
  // height: 8.4375vw;
  border-radius: 3px;
  // margin-right: 10px;
  transition: all .4s ease, box-shadow 0s;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  // -webkit-font-smoothing: subpixel-antialiased;
  background-size: cover!important;
  background-position: center!important;
  display: inline-block;
}

.thumbnail-container.first:hover {
  transform: scale(1.4) translate(2.3vw, -48px) !important;
}

.thumbnail-container.middle:hover {
  transform:scale(1.4) translate(-2.5vw, -48px) !important;
}

.thumbnail-container.last:hover {
  transform:scale(1.4) translate(-2.32vw, -48px) !important
}

.thumbnail-container.middle.disney.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}

.thumbnail-container.middle.pixar.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}

.thumbnail-container.middle.marvel.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}

.thumbnail-container.middle.star-wars.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}

.thumbnail-container.middle.nat-geo.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}

.thumbnail-container.middle.watchlist.swiped:hover {
  transform:scale(1.4) translate(2.5vw, -48px) !important;
}
// .thumbnail-hover {

// }

// .WxEV {
//     backface-visibility: hidden;
//     border-radius: 4px;
//     box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
//     cursor: pointer;
//     display: block;
//     position: relative;
//     transform: scale(1, 1) translateZ(0px);
//     transition-duration: 300ms;
//     transition-property: transform, box-shadow;
//     transition-timing-function: ease-out;
//     -webkit-font-smoothing: subpixel-antialiased;
// }

.thumbnail-container:hover {
  transform: scale(1.4) translate(0, -48px);
  // outline: 3.5px solid rgb(255, 255, 255);
  // outline-offset: -3.5px;
  // border-radius: 50%;
  // z-index: 2;
  display: inline;
  // background: rgb(32, 32, 49);
  height:100px;
  margin-top: -15px;
  transition: all .6s;
  position: relative;
  z-index: 2;

  .thumbnail {
    border-radius: 5px 5px 0px 0px;
    box-shadow: none;
    // margin-bottom: -1.9px;
  }
  
  .thumbnail-functions {
    display: flex;
    position: relative;
    bottom: 4px;
    transition: bottom 0s;
    margin-right: 3px;
    background: linear-gradient(rgb(37, 38, 48), rgb(29, 31, 39));
    color: #fff;
    // width: 100%;
    height: 92%;
    padding: 5px;
    box-sizing: border-box;
    transition: opacity 300ms ease-out, border-radius 200ms ease-out;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  }

  .thumbnail-details {
    // margin-left: 4px;
    margin-top: 3%;
    display:inline-flex;
    gap: 1%;
  }

  .thumbnail-details h1 {
    margin-left: 5px;
    font-size: 0.777vw;
    color: #31d362;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-top: 4px;
  }

  .thumb-rating {
    /* margin-top: 3px; */
    /* margin-left: 7px; */
    position: relative;
    font-size: 0.75vw;
    font-weight: 500;
    font-family: 'Open Sans';
    /* border-color: rgba(255, 255, 255, 0.404); */
    /* border-style: solid; */
    /* border-width: thin; */
    outline: rgba(255, 255, 255, 0.3);
    outline-width: thin;
    outline-style: solid;
    outline-offset: -1px;
    padding-left: 5px;
    padding-right: 5.5px;
    padding-top: 1.5px;
    padding-bottom: 2px;
    left: 6%;
    bottom: 8%;
}

  .thumb-runtime {
    /* margin-top: -22px; */
    position: relative;
    /* margin-left: 9px; */
    font-size: 0.777vw;
    font-family: 'Open Sans';
    top: -6%;
    left: 13%;
  }
}

.thumbnail-container.placeholder:hover {
  transform: scale(1.0);
  margin-top: 0px;
}


.movie-index {
  // padding-top: 80px;
  padding-left: 3.4vw;
  margin-bottom: 11vh;
  // padding-right: 4.1vw;
  // height: 1490px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
  position: relative;
  top: -1vw;
}

.movie-row {
  display: flex;
  width: 100%;
  // justify-content: space-between; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.9vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#watchlist-movies-row {
  transform: translateX(0px);
  transition: all 1.4s;
}

#disney-movies {
  transform: translateX(0px);
  transition: all 1.4s;
}

#pixar-movies {
  transform: translateX(0px);
  transition: all 1.4s;
}

#marvel-movies {
  transform: translateX(0px);
  transition: all 1.4s;
}

#star-wars-movies {
  transform: translateX(0px);
  transition: all 1.4s;
}

#nat-geo-movies {
  transform: translateX(0px);
  transition: all 1.4s;
}

.row-header {
  font-family: 'Open Sans';
  font-weight: 700;
  margin-left: 0.5vw;
  font-size: 1.4vw;
  // padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 6px;
}

.left-arrow {
  margin-top: 0.28vw;
  margin-left: -3.5vw;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.04);
  position: absolute;
  z-index: 1;
  padding-top: 7vh;
  padding-bottom: 6.3vh;
  padding-left: 1.2vh;
  cursor: pointer;
  transition: all 0.2s;
}

.right-arrow {
  margin-top: 0.27vw;
  margin-left: 93vw;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.04);
  position: absolute;
  z-index: 1;
  padding-top: 7.5vh;
  padding-bottom: 5.703vh;
  cursor: pointer;
  transition: all 0.2s;
}
// .left-arrow, .right-arrow {
//   // margin-top: 3.5vw;
//   // margin-left: -2.5vw;
//   font-size: 3vw;
//   color: rgba(54, 54, 54, 0.068);
//   // position: absolute;
//   // z-index: 1;
//   cursor: pointer;
//   transition: all 0.2s;
// }

// .right-arrow {
//   // margin-top: 3.5vw;
//   // margin-left: 93vw;
//   font-size: 3vw;
//   color: rgba(54, 54, 54, 0.068);
//   // position: absolute;
//   // z-index: 1;
//   cursor: pointer;
//   transition: all 0.2s;
// }

.left-arrow:hover {
  color: white;
  background: linear-gradient(270deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.5466561624649859) 61%, rgba(0,0,0,0.6334908963585435) 100%);
}

.right-arrow:hover {
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.5466561624649859) 61%, rgba(0,0,0,0.6334908963585435) 100%);
}

.hidden {
  transition: all 0.4s ease 0s;
  opacity: 0;
  cursor: default;
} 
 

// .thumbnail-container.first.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.disney.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.pixar.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.marvel.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.star-wars.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.nat-geo.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.middle.watchlist.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.last.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-container.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

// .thumbnail-specific.disliked {
//   .thumbnail {
//     filter: grayscale(100%);
//   }
// }

#disliked {
  .thumbnail {
    filter: grayscale(100%);
  }
}


.full-screen-movie-page {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100vh;
  background: black;


  .exit-video {
    z-index: 10000;
    position: fixed;
    color: white;
    left: 1vw;
    top: 1vw;
    font-size: 5vw;
    opacity: 40%;
    transition: all 0.4s ease 0s;
  }

  .exit-video:hover {
    opacity: 100%;
    cursor: pointer;
  }

  .full-screen-movie {
    height: 100vh;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .full-screen-poster {
    filter: brightness(0.6);
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.replay-full-movie {
  position: fixed;
  opacity: 40%;
  font-size: 12vw;
  z-index: 10000;
  color: white;
  top: 40%;
  left: 44%;
  text-align: center;
  transition: all 0.4s ease 0s;
}

.replay-full-movie:hover {
  cursor: pointer;
  opacity: 100%;
}

#full-screen-poster {
  position: relative;
}

@media (max-width: 920px) {
  .left-arrow, .right-arrow {
    color: rgba(255, 255, 255, 0.5);
    font-size: 7vw;
    position: absolute;
  }

  .left-arrow:hover, .right-arrow:hover {
    background: none;
  }

  .left-arrow {
    margin-top: -1.5vh;
    margin-left: -3vw;
  }

  .right-arrow {
    margin-left: 90vw;
    margin-top: -3vh;
  }

  ::-webkit-scrollbar {
    height: 4px; 
  }
}