.nav-logo {
  position: fixed;
  top: 1.2%;
  left: 4.15%;
  width: 6vw;
  height: auto;
}

.nav-bar {
  // background-color: rgb(10, 15, 22);
  position: fixed;
  width: 100%;
  height: 74px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 4;
  transition: all 0.5s linear;
  background: linear-gradient(180deg, rgba(0,0,0,0.5158438375350141) 0%, rgba(0,0,0,0.27942927170868344) 35%, rgba(255,255,255,0) 100%);
}

.nav-bar.show {
  background-color: rgb(10, 12, 19);
  z-index: 4;
  transition: all 0.5s linear;
}

.nav-links-container {
  position: relative;
  display: flex;
  margin-left: 13.35%;
}

.nav-link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size:.99vw;
  margin: 8px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.nav-link:hover {
  color: rgb(199, 199, 199);
  transition: all 0.4s ease 0s;
}

.profile-menu-container {
  display: inline-flex;
  /* margin-left: 525px; */
  /* margin-bottom: 50px; */
  color: white;
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: rgb(19, 19, 19);
  border-radius: 4px;
  border: solid 1px rgb(87, 87, 87);
  min-width: 233px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  text-align: left;
  font-family: 'Open Sans';
  /* font-weight: 400; */
  font-size: 11px;
  transition: all 1s;
  animation-duration: 0.25s;
  animation-name: slideIn;
  height: 472px;
}

#profile-links {
  border-top: solid 1px rgb(48, 48, 48);
  position: relative;
  padding-top: 11px;
  margin-top: 40px;
  width: 195px;
  margin-left: 11px;
  opacity: 0;
  animation: fade-menu 0.4s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fade-menu{
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.profile-menu {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.profile-menu-container.hidden {
  display: none;
}

@keyframes slideIn {
  from {
    height: 0px;
  }

  to {
    height: 472px;
  }
}

#link-to-site {
  text-decoration: none;
  color: #cfcfcf;
  padding: 12px;
  padding-left: 1px;
  font-weight: 400;
}

#link-to-site:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.logout-button {
  color: white;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  color: white;
}

.profile-links a:link {
  text-decoration: none;
} 

.profile-links a:visited {
  text-decoration: none;
}

.profile-links a:hover {
  text-decoration: none;
  cursor: pointer;
}

.profile-links a:active {
  text-decoration: none;
}
.profile-menu-container a:hover {
  background-color: rgba(24, 24, 24, 0.801);
}

.profile-container:hover .profile-menu-container {
  display: flex;
  flex-direction: row;
}

.nav-left {
  display: contents;
}

.nav-right {
  position: relative;
}

.nav-bar-hidden {
  display: none;
}

.dropdown-username {
  cursor: default;
  text-align: right;
  position: relative;
  top: 11px;
  right: 62px;
  color: white;
}

@media (max-width: 920px) {
  // .nav-link.home {
  //   display: none;
  // }

  .nav-bar {
    height: 20vh;
    background: none;
  }

  .nav-logo {
    width: 11vw;
    height: auto;
    position: fixed;
    top: 11px;
    left: 14px;
  }

  .nav-link {
    font-size: 1.5vw;
  }
}