.profile-pic {
  height: 48px;
  cursor: pointer;
  position: fixed;
  top: 1.7%;
  right: 1%;
  padding: 3px;
}

.change-profile-pic {
  display: flex;
  flex-direction: row;

  p {
    position: relative;
    top: 20px;
    left: 10px;
  }

  p:hover {
    cursor: pointer;
  }
}


.profile-pic.change {
  position: relative;
  cursor: pointer;
}