.search-bar-container {
  display: flex;
  position: fixed;
  top: 4%;
  right: 5%;
  z-index: -1;
}

.search-bar-container-expanded{
  display: flex;
}

.search-icon {
  font-size: 1.8vw;
}

.search-button {
  position: relative;
  right: 0;
  top: 0.5vh;
  transition: all 1s ease 0s;
}

.search-button-expanded {
  position: relative;
  top: 3px;
  left: 9.5%;
  z-index: 6;
  transition: all 1s ease 0s;
}

.search-button:hover{
    cursor: pointer;
}

.search-button-expanded:hover{
    cursor: pointer;
}

.search-input-hidden {
  position: relative;
  width: 0px;
  right: 0px;
  transition: all 1s ease 0s;
  background-color :rgba(0, 0, 0, 0);
  z-index: 0;
  border: 0;
  margin-right: 20px;
}

.search-input {
  position: relative;
  text-indent: 12%;
  bottom: 5px;
  width: 19vw;
  height: 2.35vw;
  right: 0px;
  transition: all 1s ease 0s;
  background-color: rgba(0, 0, 0, 0.623);
  border: 0.5px solid white;
  border-radius: 0px;
  z-index: 5;
  color: white;
  margin-right: 20px;
  font-family: 'Open Sans';
  font-size: 1.04vw;
}

.nothing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: white;
  font-family: 'Open Sans';
  font-size: 2.5vw;
  background: #16162c;
  width: 100%;
  height: 100%;
}

#search-results {
  color: white;
  font-family: 'Open Sans';
  position: relative;
  /* margin: 0 auto; */
  text-align: center;
  left: 0;
  right: 0;
  font-size: 40px;
  font-weight: 400;
  top: 15.3vh;
}

@media (max-width: 920px) {
  .search-bar-container {
    top: 8vh;
    right: 6%;
  }

  .search-icon {
    position: relative;
    top: 0.6vh;
    font-size: 2.5vw;
  }

  .search-button {
    position: relative;
    right: 1vw;
    top: -1vh;
  }

  .search-button-expanded {
    top: -1vh;
  }

  .search-input {
    // top: 3vh;
    margin-right: 5vw;
    z-index: 20;
    background-color: black;
  }

  .nothing-container {
    bottom: -25px;
  }

  .mickey-surprised {
    width: 35vw;
  }
}