.films-rows {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // justify-items: center;
    // margin-left: auto;
    // margin-right: auto;
    // gap: 23px;

  .thumbnail-specific {
    // background-color: black;
    color: white;
    // width: 24.3vw;
    // height: 16vw;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
    transition: transform 0.8s;

    .thumbnail-tags {
      font-family: 'Open Sans';
      position: relative;
      left: 2%;
      top: 23%;
      font-size: 0.85vw;
    }
  }
}