.splash-logo{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 165px;
  height: auto;
}

.splash-container{
  display: grid;
  grid-template-rows: 700px 500px 500px 500px;
  color: white;
  background-color: rgb(5, 5, 19);
  font-family: 'Nunito Sans', sans-serif;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.splash-main {
  background: url("https://i.imgur.com/a8SD9gJ.jpg") no-repeat center center; 
  background-size: cover;
  box-shadow: inset 0 0 200px #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-box-shadow: inset 0 0 200px #000000;
  -webkit-box-shadow: inset 0 0 200px #000000;
}

.welcome {
  display: block;
  justify-content: center;
  position: relative;
  text-align: center;
  top: 33%;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  animation: fadeIn linear 1.5s;
  -webkit-animation: fadeIn linear 1.5s;
  -moz-animation: fadeIn linear 1.5s;
  -o-animation: fadeIn linear 1.5s;
  -ms-animation: fadeIn linear 1.5s;
}

.splash-header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 3.9vw;  //48px
  font-weight: 700;
  padding: 5px;
}

.splash-description {
  padding: 10px;
  font-size: 2vw; //25px;
  font-weight: 400;
}

.demobutton{
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 20px; //20px
  background-color: #0063e6;
  /* opacity: 0.95; */
  color: #f9f9f9;
  border-radius: 5px;
  border-style: none;
  padding: 13px 70px;
  max-width: 540px; //540px
  min-width: 74px; //74px
  min-height: 50px;
  margin: .5em .5em .5em 0;
  transform: scale(.97);
  transition: background 0.4s ease-in-out;
}

.demobutton:hover{
  background-color: #358cfd;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
  
.splash-signin{
  font-family: 'Nunito Sans';
  font-weight: regular;
  font-size: 19px;
  text-align: center;
  color: #f9f9f9;
  background-color: #090a0a;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  top: 1.5%;
  right: 3vw;
  opacity: 0.95;
  width: 100px;
  height: 50px;
  margin: 5px;
  border: 5px;
  border-color: silver;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

.splash-signin:hover {
  font-family: 'Nunito Sans';
  font-size: 19px;
  color: #000000;
  background-color: #f9f9f9;
  opacity: 0.85;
  transition: all 0.5s ease 0s;
}

.brands-logo {
  padding: 20px;
  width: 63vw; //850px
}

.terms {
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #c5c5c5;
  padding: 0px;
}

.info-header {
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 5px;
}

.splash-info {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.splash-info.right {
 text-align: right;
}

// .splash-info-left {  
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: left;
//   left: 20px;
//   margin-left: 15px;
// }

// .splash-info-right{  
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: right;
//   right: 20px;
// }

.info-container {
  display:flex;
  border-top: 5px solid #222;
  justify-content: space-evenly;
  padding: 30px;
}


.info-container-last {
  display:flex;
  border-top: 5px solid #222;
  justify-content: space-evenly;
  padding: 35px;
}

.info-container h1 {
  font-family: 'Open sans', sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
  margin: 5px;
}

.info-container h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 5px;
  font-size: 2vw;
}

.info-container.odd img {
  width: 50vw;
}

.info-pic-left {
  // display: relative;
  right: 10px;
  padding: 20px;
  width: 33vw;
  margin: auto;
  position: relative;
  bottom: 4vh;
}


.info-pic-right {
  // display: relative;
  // width: auto;
  // height: 400px;
  margin: auto;
  // margin-top: 30px;
  // margin-right: 30px;
}

.info-text-left, .info-text-right {
  margin: auto;
}
.info-text-left {
  margin-left: 25px;
}

// .info-text-left h3 {
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 400;
//   padding: 5px;
//   font-size: 2vw;
// }

// .info-text-right h3 {
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 400;
//   padding: 5px;
//   font-size: 2vw;
// }

@media (max-width: 820px) {
  .splash-header {
    font-size: 6vw;
  }

  .splash-description {
    font-size: 3vw;
  }

  .brands-logo {
    width: 90vw;
  }

  .splash-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .splash-info.right {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .info-container {
    h1 {
      font-size: 4.5vw;
    }

    h3 {
      font-size: 3vw;
    }
  }

  .info-pic-left {
    width: 40vw;
  }

  .info-container.odd img {
    width: 70vw;
  }
}