.thumbnail-functions {
  display: none;  
  flex-direction: column;
  margin-right: 3px;
  background: #1d1c27;
  color: #fff;
  width: 100%;
  height: 92%;
  padding: 5px;
  box-sizing: border-box;
  transition: opacity 300ms ease-out, border-radius 200ms ease-out;
  border-radius: 0 0 9px 9px;
  margin-bottom: 10px;
  // z-index: 3;
  // left: 16%;
  // background: #181818;
  // color: #fff;
  // width: 100%;
  // height: fit-content;
  // padding: 5px;
  // box-sizing: border-box;
  // transition: opacity 300ms ease-out, border-radius 200ms ease-out;
  // border-radius: 0 0 10px 10px;  
}

.thumbnail-functions.placeholder {
  text-align: center;
  cursor: pointer;
}

.thumbnail-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-top: 5px;
}

.thumbnail-buttons-left {
  display: flex;
  flex-direction: row;
}

.thumbnail-functions:hover {
  display: inline;
  // left: 16%;  
}

.thumbnail #placeholder {
  transform: none !important;
}

.add-button {
  color: white;
  border-radius: 50%;
  border: 1.5px solid #575757;
  position: relative;
  display: flex;
  margin-right: -0.2vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 11%;
  left: 5%;
  width: 1.8vw;
  height: 1.8vw;
}

.add-button p {
  cursor: pointer;
}

.add-button:hover {
  cursor: pointer;
  border-color: white;
}

.expand-modal {
    color: white;
    border-radius: 50%;
    border: 1.5px solid #575757;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4%;
    /* left: 0%; */
    margin-right: 2px;
    width: 1.8vw;
    height: 1.8vw;
    font-size: 26px;
}

.expand-modal:hover {
  cursor: pointer;
  border-color: white;
}

.material-icons-outlined {
  font-size: 20px;
}

.thumb-play-circle {
  font-size: 2.35vw;
  position: relative;
  color: #dfdfdf;
  margin-right: -0.25vw;
  top: 5.3%;


  &:hover {
    cursor: pointer;
    color: white;
  }
}

.like-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 12%;
    top: 10.5%;
    gap: 8%;
    height: 71%;
    /* margin-top: 3px; */
    /* width: 24%; */
    padding-top: -3px;
    /* line-height: 66px; */
}

.like-button {
    border: 1.5px solid #575757;
    border-radius: 50%;
    height: 85.5%;
    width: 85.5%;
    position: relative;
    left: 20%;
    top: -0.4%;
    padding-top: 0.4vw;
    /* padding-top: 0px; */
    font-size: 1.1vw;
    padding-left: 0.35vw;
    margin-bottom: -12px;
}

.like-button.up {
  padding-left: 0.37vw;
  padding-top: 0.4vw;
  height: 86%;
  width: 84%;
  position: relative;
  left: -1%;
  top: -0.1%;
}

.like-button:hover {
  border-color: white;
  cursor: pointer;
}

.thumbnail-tags {
  display: flex;
  font-size: 0.8vw;
  flex-direction: row;
  position: relative;
  top: 12%;
  left: 2.5%;
  font-family: 'Open Sans';

  .thumbnail-tags li {
    font-size: 10px;
  }

  #tag-separator {
    color: #5f5f5f;
    font-size: 1.2vw;
    position: relative;
    bottom: 14%;
    margin: 0 1.5%;
  }
}

.mute-and-refresh {
  display: relative;
  position: absolute;
  right: 5.58vw;
  bottom: -0.2vw;
  color: rgba(255, 255, 255, 0.6);

  .featured-volume {
    font-size: 12px;
    padding: 2px;
    border: solid 1.5px;
    display: none;
    position: relative;
    left: 4.6vw;
    top: 1.9vw;
  }
}

.mute-and-refresh.sorted {
  /* right: 3px; */
  top: 10.2vw;
  right: 5.84vw;
  
  .featured-volume {
    font-size: 16.5px;
    left: 4.8vw;
    top: 3vh;
  }
}

@media (max-width: 920px) {
  .thumbnail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: -3.5%;
  }

  .thumb-play-circle {
    font-size: 3.3vw;
  }

  .add-button {
    margin-right: -0.2vw;
    top: 7.5%;
    left: 5%;
    width: 2.6vw;
    height: 2.7vw;
  }

  .like-button {
    border: 1.5px solid #575757;
    border-radius: 50%;
    height: 91.5%;
    width: 94%;
    position: relative;
    left: 10%;
    top: -8%;
    padding-top: 0.6vw;
    /* padding-top: 0px; */
    font-size: 1.8vw;
    padding-left: 0.35vw;
    margin-bottom: -12px;
  }

  .like-button.up {
    padding-left: 0.4vw;
    padding-top: 0.4vw;
    height: 99%;
    width: 85%;
    position: relative;
    left: -5%;
    top: -4%;
  }

  .expand-modal {
    color: white;
    border-radius: 50%;
    border: 1.5px solid #575757;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4%;
    left: 34%;
    margin-right: 2px;
    width: 2.7vw;
    height: 2.5vw !important;
    padding-top: 0.3vw;
    height: 2.9vw;
    font-size: 4vw !important;
  }

  .thumbnail-details {
    h1 {
      font-size: 1vw;
    }

    h3 {
      font-size: 1vw;
      position: relative;
      top: 0.5vh;
    }

    .not-match {
      bottom: 5px !important;
    }

    .thumb-rating {
      font-size: .9vw;
    }

    .thumb-runtime {
      top: 5%;
    }
  }

  .thumbnail-tags {
    font-size: 0.9vw;
  }

  .mute-and-refresh {
    display: none;
  }

  .thumbnail-container:hover {
    .thumbnail-functions {
      height: 74%;
    }
  }
}