.thumbnail-functions {
  display: none;  
  margin-right: 3px;
  background: #1d1c27;
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  transition: opacity 300ms ease-out, border-radius 200ms ease-out;
  border-radius: 0 0 9px 9px;
  margin-bottom: 10px;
  z-index: 3;
  // left: 16%;
  // background: #181818;
  // color: #fff;
  // width: 100%;
  // height: fit-content;
  // padding: 5px;
  // box-sizing: border-box;
  // transition: opacity 300ms ease-out, border-radius 200ms ease-out;
  // border-radius: 0 0 10px 10px;  
}

.thumbnail-functions.placeholder {
  text-align: center;
  cursor: pointer;
}

.thumbnail-buttons {
  display:flex;
  flex-direction: row;
  // margin-top: 5px;
}

.thumbnail-functions:hover {
  display: inline;  
  // left: 16%;  
}

.thumbnail #placeholder {
  transform: none !important;
}

.add-button {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1.5px solid rgb(87, 87, 87);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 5%; 
  width: 2vw;
  height: 2vw;
  z-index: 0;
  // background-color: rgba(255, 255, 255, 0);
}

.add-button p {
  cursor: pointer;
}

.add-button:hover {
  cursor: pointer;
  border-color: white;
}

.material-icons-outlined {
  font-size: 22px;
}

.thumb-play-circle {
  // margin-top: 1px;
  font-size: 36px;
  color: rgb(223, 223, 223);
  
  &:hover {
    cursor: pointer;
    color: white;
  }
}